<!DOCTYPE html>
<html>
  <head>
    <title>articles</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>게시글 목록 페이지</h1>
    <a href="/articles/create">신규 게시글 작성</a>
    <table>
      <thead>
        <tr>
          <th>글번호</th>
          <th>제목</th>
          <th>내용</th>
          <th>조회수</th>
          <th>아이피주소</th>
          <th>게시여부</th>
          <th>작성자</th>
          <th>작성일자</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0; i < articles.length; i++) {%>
        <tr>
          <% Object.keys(articles[i]).forEach(function(key) { %>
          <td>
            <% if (key === 'ariticleIdx') {%>
            <a href="/articles/update?idx=<%=articles[i][key]%>">
              <%= articles[i][key] %>
            </a>
            <% } else if (key === 'title') {%>

            <a href="/articles/modify/<%=articles[i]['ariticleIdx']%>">
              <%= articles[i][key] %>
            </a>
            <% } else {%>
            <p><%= articles[i][key] %></p>
            <% } %>
          </td>
          <% }); %>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
